body{
    width:600px;
    margin: auto;
    padding:20px;
    font-family: Helvetica, sans-serif;
}
a{
    text-decoration: underline;
    color:black;
}
.bonusSection{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding:10px;
}
.linkSection{
    border:1px dotted grey;
    text-align: center;
    width:80%;
    margin: auto;
    padding:20px;
    background-color: lightgray;
}
ol{
    text-align: left;
}
ul{
    text-align: left;
}
img{
    border:2px solid black;
}